[D-BUS Service]
Name=org.freedesktop.sssd.infopipe
Exec=/usr/libexec/sssd/sssd_ifp --uid 0 --gid 0 --dbus-activated
User=root
SystemdService=sssd-ifp.service
